@model ListingViewModel
@{
    ViewData["Title"] = Model.PageTitle;
}

<div class="page-heading">
    @await Html.PartialAsync("_PageHeading", Model.PageHeading)
</div>

<div class="listing-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="naccs">
                    <div class="grid">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="menu">

                                    @{ int i = 0;}
                                    @foreach (var item in Model.Category)
                                    {
                                        string firstAndLastClass = "";
                                        if (i == 0)
                                            firstAndLastClass = "first-thumb active";
                                        else if (i == Model.Category.Count - 1)
                                            firstAndLastClass = "last-thumb";
                                        <div class="@firstAndLastClass">
                                            <div class="thumb">
                                                <span class="icon"><img src="assets/images/@item.IconPath" alt=""></span>
                                                @item.Name
                                            </div>
                                        </div>
                                        i++;
                                    }


                                </div>
                            </div>
                            <div class="col-lg-9">
                                <ul class="nacc">

                                    @foreach (var item in Model.Category)
                                    {
                                        var list = Model.Listings.Where(c => c.CategoryID == item.ID);

                                        <!-- first category listing of items -->
                                        <li class="active">
                                            <div>
                                                <div class="col-lg-12">
                                                    <div class="owl-carousel owl-listing">

                                                        @{ 
                                                            double courselItemCount = Convert.ToDouble(list.ToList().Count) / 3;
                                                            courselItemCount = Math.Ceiling(courselItemCount); // 3 
                                                        }
                                                        <div class="item">
                                                            <span>@courselItemCount</span>
                                                            <div class="row">
                                                                @foreach (var subitem in list)
                                                                {
                                                                    <div class="col-lg-12">
                                                                        <div class="listing-item">
                                                                            <div class="left-image">
                                                                                <a href="#"><img src="assets/images/listing-01.jpg" alt=""></a>
                                                                                <div class="hover-content">
                                                                                    <div class="main-white-button">
                                                                                        <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="right-content align-self-center">
                                                                                <a href="#"><h4>@subitem.Title</h4></a>
                                                                                <h6>by: Real ESTATE Agent</h6>
                                                                                <span class="price"><div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> @subitem.Price </span>
                                                                                <span class="details">Details: <em>860 sq ft</em></span>
                                                                                <span class="info">
                                                                                    <img src="assets/images/@subitem.ImagePath" alt="" />
                                                                                    2 Bedrooms<br>
                                                                                    <img src="assets/images/listing-icon-03.png" alt=""> 3 Bathrooms
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>